@use '_mixins' as *;

.trip-card {
  padding: 1em;
  height: 10em;
  min-width: 17em;
  @include flexSetup (column, stretch, stretch);

  img {
    @include setHeightWidth (70%, 100%);
  }

  .trip-description{
    @include flexSetup (row, space-between, stretch);

    p {
      font-size: .9em;
    }
  }
}
