@use '_colors' as *;
@use '_modal' as *;
@use '_tripCard' as *;
@use '_tripForm' as *;
@use '_mixins' as *;


body {
  background: $deep-purple;
  @include setHeightWidth (100vh, auto);
  margin: 0;
  font-family: Verdana;
}


.nav-header {
  background: $blue-steel;
  color: $light-blue;
  @include setHeightWidth (10%, 100%);
  @include flexSetup (row, space-evenly, center);

  button {
    background: none;
    border: none;
    color: inherit;
    font-size: 1em;
    font-style: oblique;
  }

  div {
    text-align: center;
  }
}

main {
  @include setHeightWidth (90%, 100%);
  @include flexSetup (column, space-evenly, stretch);
  text-align: center;

  section {
    background: $blue-steel;
    color: $light-blue;
    margin: 0 5%;
    @include setHeightWidth (25%, auto);
    @include flexSetup (column, space-evenly, center);
  }
}

.trip-gallery {
  @include setHeightWidth (80%, 100%);
  display: flex;
  overflow-x: scroll;
}
